*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-align: center;
}
.header__nav {
  border-bottom: 1px solid #000;
}

.header__nav-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.appoint__button {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  color: #fff;
  background-color: #e63948;
}

.appoint__button--mobile {
  display: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.copyright__block {
  text-align: center;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr;
}

.footer {
  flex-shrink: 0;
  border-top: 1px solid #000;
  padding: 30px 0;
}

.nav__logo {
  width: 12%;
}
.logo {
  max-width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.privacy__block {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1210px) {
  .container,
  .header__nav-inner {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .nav__logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
    max-width: 50%;
  }
  .appoint__button--desktop {
    display: none;
  }
  .appoint__button--mobile {
    display: block;
  }

  .header__nav-inner {
    justify-content: center;
  }

  .container {
    width: 95%;
  }

  .appoint__button {
    text-align: center;
    padding: 18px 0;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
