:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: #777;
  --important-collor: #AF1313;
  --mint-collor: #01564b;
  --mint-collor-light: #04e0c3;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

select {
  max-height: 4ch;
  min-height: 3ch;
  min-width: 5ch;
  max-width: 10ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.header__nav {
  border-bottom: 1px solid #000;
}

.header__nav-inner {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.list-of-links{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;
}

.links-outer {
  display: flex;
  gap: 2rem;
}
.nav-link{
  display: flex;
  color: var(--mint-collor);
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.nav-link:hover{
  color: var(--mint-collor-light);
}

.nav-link > span{
  display: block;
  font-size: .9rem;
  text-transform: uppercase;

}

.appoint__button {
  display: block;
  text-align: center;
  padding: 18px 0;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin: 10px auto 0 auto;
  color: #fff;
  background-color: #e63948;
}

.appoint__button--mobile {
  display: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.credit-card{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--important-collor);
}
.copyright__block {
  text-align: center;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr;
}

.footer {
  flex-shrink: 0;
  border-top: 1px solid #000;
  padding: 30px 0;
}

.nav__logo {
  width: 120px;
  height: 50px;
  background: url(../img/logo.webp) no-repeat center center;
  background-size: contain;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  line-height: 1.5;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.nav-link img {
  filter: invert(1); /* Adjust icon colors for visibility */
}

.privacy__block {
  display: flex;
  justify-content: space-around;
}

#mobile-footer{
  display: none;
}

.old-price {
  position: relative;
  font-size: 16px;
  color: #595959;
  text-decoration: line-through;
  display: flex;
  align-items: center;
}

.old-price .icon {
  margin-right: 5px;
  font-size: 12px;
}

.new-price {
  font-size: 24px;
  font-weight: bold;
  color: #ff3e3e;
  display: flex;
  align-items: center;
}

.new-price .icon {
  margin-right: 5px;
  font-size: 16px;
}

.info-container{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1210px) {
  .container,
  .header__nav-inner {
    width: 90%;
  }

}

@media screen and (max-width: 540px) {
  .nav__logo {
    width: 100px;
  }
  .logo {
    max-width: 50%;
  }
  .appoint__button--desktop {
    display: none;
  }
  .appoint__button--mobile {
    display: block;
  }

  .container {
    width: 95%;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .list-of-links-desktop{
display: none;
  }

  #mobile-footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #mobile-menu {
    background: rgba(230,57,72, .9);
  }

  #mobile-footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .mobile-link {
    padding: .7em 0;
  }

  .mobile-link a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }

  #mobile-footer-close {
    position: relative;
  }

  #mobile-footer-btn {
    position: absolute;
    bottom: 55px;
    right: 7px;
    width: 40px;
    height: 40px;
    background-color: #959192;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    cursor: pointer;
  }

  #mobile-footer-btn:focus {
    outline: 0;
  }

  .mobile-btn-close span,
  .mobile-btn-close span::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 18px;
    top: calc(50% - 9px);
    right: calc(50% + -2.5px);
    background-color: #fff;
    transform: rotate(-90deg);
    transition: 0.3s ease-out;
  }

  .mobile-btn-close {
    transition: 1s ease-out;
  }

  .mobile-btn-close:focus {
    transition: 1s ease-out;
  }

  .mobile-btn-close span {
    transform: rotate(45deg);
  }

  .mobile-btn-close span::before {
    content: '';
    transform: rotate(-90deg);
  }

  .is-rotating {
    transform: rotate(135deg);
  }

  .is-rotating-back {
    transform: rotate(-90deg);
  }

  .mobile-menu-hide {
    animation: hideFooter 10s forwards;
  }

  .mobile-menu-show {
    animation: showFooter 1s forwards;
  }

  @keyframes hideFooter {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(1000px);
      opacity: 0;
    }
  }

  @keyframes showFooter {
    0% {
      transform: translateY(300px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

}
